#header {
  background-color: #f1f1f1;
  min-height: 80px;
}
#main-wrap {
  background-color: #D9D9D9;
  overflow: hidden;
}
#citation {
  position: absolute;
  right: 50px;
}
#carPhoto {
  position: absolute;
  right: 50px;
  top: 225px;
  height: 400px;
  width: 550px;
}
#carSlider {
  position: absolute;
  height: 400px;
  width: 500px;
}
#userAnswer {
  font-size: 300%;
  text-decoration: none;
  font-size: Lucida;
}
#sidebar {
  background-color: #d2d2d2;
  float: left;
  width: 30%;
}
#content-wrap {
  background-color: #c5c5c5;
  float: right;
  width: 70%;
}
#main-wrap > div {
  min-height: 450px;
}
#userScore {
  font-size: 200%;
  text-decoration: none;
  font-style: Lucida;
}
.mover0 {
  position: absolute;
  left: 0px;
}
.mover1 {
  position: absolute;
  left: 500px;
}
.mover2 {
  position: absolute;
  left: 990px;
}
.mover3 {
  position: absolute;
  left: 1475px;
}
.mover4 {
  position: absolute;
  left: 1500px;
}
body {overflow-x: hidden;}
h1 {
  font-size: 500%;
  font-style: Lucida;
  text-decoration: none;
  color: #F0FFFF;
  background-color: #000000;
}
#carName {
  font-size: 300%;
  text-decoration: none;
  font-size: Lucida;
  color: #000000;

}
#prelude {
  font-size: 300%;
  text-decoration: none;
  font-size: Lucida;
  color: #000000;

}
.gameStart {
  font-size: 800%;
  height: 449px;
  width: 572px;
  position: absolute;
  right: 1075px;
  bottom: 150px;
  text-decoration: none;
  font-style: Lucida;
  color: #008000;
  background-color: #d2d2d2;
}
